* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #555
}

hr {
    border: 0;
    border-top: 1px solid #b9b8b8;
}

body {
    font-family: Arial, sans-serif;
}
.icon-wrapper {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #cecece;
    width: 40px;
    height: 40px;
}

.social-icon {
    width: 20px;
    height: 20px;
    filter: grayscale(100%);
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 70px 15px 70px;
}

.header-right {
    display: flex;
    align-items: center;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 300px;
    height: 45px;
    padding: 10px 40px 10px 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 0.75rem;
    font-weight: bold;
    background-color: #eeeeee;
}

.search-bar .search-icon {
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #888;
}

.user-menu {
    display: flex;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.profile-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.welcome-text {
    font-size: 0.75rem;
    color: #888;
}

.username {
    font-weight: bold;
    font-size: 0.875rem;
}

.dropdown-arrow {
    font-size: 1.125rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.text-box {
    position: absolute;
    bottom: 20px;
    left: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 5px;
    height: 90%;
    width: 30%;
}

.slide-title {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #fff;
}

.slide-text {
    font-size: 1rem;
    line-height: 1.5em;
    margin-bottom: 20px;
    color: #fff;
}

.card-btn,
.slide-btn {
    width: 100%;
    background: rgb(15, 175, 15);
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    margin-top: auto;
}

.slide-btn {
    width: auto;
    position: absolute;
    bottom: 50px;
    background-color: transparent;
    border: white 2px solid;
    margin-top: 0;
}

.card-btn:hover {
    background: darkgreen;
}

.dots-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #555;
}

.slider-container {
    position: relative;
    overflow: hidden;
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 400px;
    display: none;
    justify-content: center;
    align-items: center;
}

.slide:nth-child(1) {
    display: block;
}

.slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.separator {
    width: 1px;
    height: 30px;
    background-color: #ccc;
    margin: 0 20px;
}

.course-container {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: antiquewhite;
}

.card-grid {
    margin-top: 30px; 
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
}

.card,
.add-course {
    position: relative;
    overflow: hidden;
    background: #fff;
    border: 1px solid #ddd;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: 45%;
    object-fit: cover;
}

.card h3 {
    margin: 10px 0;
    font-size: 1.5rem;
}

.card-text {
    color: #777;
    font-size: 0.875rem;
    margin-bottom: 15px;
}

.card-content {
    padding: 20px; 
    flex: 1; 
    display: flex; 
    flex-direction: column;
}

.footer {
    padding: 45px 70px 15px 70px;
}

.footer-container {
    display: flex; 
    justify-content: space-between
}

.slogan {
    word-wrap: break-word; 
    max-width: 700px
}

.footer-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.sub-footer {
    background-color: antiquewhite;
    padding-left: 70px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 0.75rem;
}

.footer-logo img {
    max-height: 50px;
}

.logo img {
    height: 40px;
}

.add-course {
    display: flex;
    flex-direction: column;
    border: 2px dashed #aaa;
    background: none;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;
    color: #555;
    cursor: pointer;
    transition: 0.3s;
}

.footer-contact{
    margin-right: 100px;
}

.footer-logo {
    display: flex;
    flex-direction: column;
}

.footer-social {
    margin-bottom: 20px
}

dialog {
    border: 0;
    border-radius: 10px;
    width: 70vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    overflow: visible;
}

#visit_dialog img {
    height: 300px; 
    width: 100%;  
    border-radius: 10px 10px 0 0;
}

.visit-dialog-content {
    padding: 50px 20%;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-close-btn {
    display: flex;
    border-radius: 50%; 
    position: absolute;
    top: -20px;
    right: -20px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.modal-close-btn svg {
    width: 25px;
}

#create_course_dialog {
    width: 50vw;
}

.ribbon {
    position: absolute;
    top: 10px;
    right: -30px;
    background: yellow;
    padding: 5px 20px;
    font-size: 0.8rem;
    font-weight: bold;
    transform: rotate(45deg);
    text-align: center;
    width: 100px;
}

@media (max-width: 1024px) {

    .dots-container {
        display: none;
    }

    .header {
        padding: 25px;
    }

    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .search-bar input {
        width: 250px;
        height: 40px;
    }

    .text-box {
        width: 40%;
    }

    .slider .slide {
        height: 300px;
    }
}

@media (max-width: 768px) {

    html {
        font-size: 12px;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
    }

    .header-right {
        margin-top: 15px;
    }

    .logo img {
        height: 30px;
    }

    .search-bar input {
        width: 200px;
        height: 35px;
    }

    .card-grid {
        grid-template-columns: 1fr;
    }

    .text-box {
        width: 50%;
        transform: translateX(21%);
        left: 0px;
    }

    .add-course {
        font-size: 1rem;
    }

    .footer {
        padding: 25px;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-info {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
    }

    .footer-contact {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-right: 0;
        text-align: center;
    }

    .footer-logo {
        align-items: center;
    }

    .slogan {
        text-align: center;
    }

    .sub-footer {
        padding-left: 0px;
        text-align: center;
    }

    .footer-social {
        margin-bottom: 0px
    }

    .footer-social h3 {
        text-align: center;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .search-bar input {
        width: 180px;
        height: 35px;
    }

    .card-grid {
        grid-template-columns: 1fr;
    }

    .text-box {
        width: 60%;
    }

    .add-course {
        font-size: 0.875rem;
    }
}

@media (max-width: 480px) {

    html {
        font-size: 10px;
    }

    .header {
        padding: 10px;
    }

    .card-grid {
        grid-template-columns: 1fr;
    }

    .text-box {
        width: 70%;
    }

    dialog {
        width: 90vw;
        transform: translate(-50%, -50%);
    }

    .modal-close-btn {
        top: -10px;
        right: -10px;
    }

    .modal-close-btn svg {
        width: 10px;
    }

    .visit-dialog-content {
        padding: 20px 10%;
    }

}